<a href="https://colab.research.google.com/github/sagaryadawad/CIE1/blob/main/AI%26ML_SEE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from  sklearn.datasets import load_iris
from sklearn.metrics import accuracy_score
from sklearn .model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [19]:
iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['target'] = iris.target

df.head()

df.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
dtype: int64

In [20]:
x=df.drop(columns="target")
y=df["target"]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2 , random_state=42)

In [21]:
model=LinearRegression()
model.fit(x_train,y_train)
model.intercept_
model.coef_
model.score(x_train,y_train)
model.score(x_test,y_test)

0.9468960016420045

In [32]:
y_pred=model.predict(x_test)
accuracy = accuracy_score,(y_test,y_pred)
print("accuracy:",accuracy)
print("y_pred")

accuracy: (<function accuracy_score at 0x7ec6eb6f36d0>, (73     1
18     0
118    2
78     1
76     1
31     0
64     1
141    2
68     1
82     1
110    2
12     0
36     0
9      0
19     0
56     1
104    2
69     1
55     1
132    2
29     0
127    2
26     0
128    2
131    2
145    2
108    2
143    2
45     0
30     0
Name: target, dtype: int64, array([ 1.23071715, -0.04010441,  2.21970287,  1.34966889,  1.28429336,
        0.02248402,  1.05726124,  1.82403704,  1.36824643,  1.06766437,
        1.70031437, -0.07357413, -0.15562919, -0.06569402, -0.02128628,
        1.39659966,  2.00022876,  1.04812731,  1.28102792,  1.97283506,
        0.03184612,  1.59830192,  0.09450931,  1.91807547,  1.83296682,
        1.87877315,  1.78781234,  2.03362373,  0.03594506,  0.02619043])))
y_pred