<a href="https://colab.research.google.com/github/sagaryadawad/CIE1/blob/main/CIE3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
+import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.datasets import fetch_california_housing
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
housing = fetch_california_housing()



df=pd.DataFrame(data=housing.data, columns=housing.feature_names)
df['PRICE'] = housing.target
print(df)


df.info()
df.head()
df.describe()

df.isnull().sum()


X = pd.DataFrame(np.c_[df['HouseAge'], df['Population']])
Y = df['PRICE']

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 8, random_state=0)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

model = LinearRegression()
model.fit(X_train, Y_train)
model.intercept_
model.coef_
model.score(X_train, Y_train)
model.score(X_test, Y_test)
y_pred = model.predict(X_train)
mse = mean_squared_error(Y_train, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(Y_train, y_pred)
r2 = r2_score(Y_train, y_pred)
print('mean_squared_error:',mse)
print('root_mean_squared_error:',rmse)
print('mean_absolute_error:',mae)
print('r2_score:',r2)

y_pred = model.predict(X_test)
mse = mean_squared_error(Y_test, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(Y_test, y_pred)
r2 = r2_score(Y_test, y_pred)
print('mean_squared_error:',mse)
print('root_mean_squared_error:',rmse)
print('mean_absolute_error:',mae)
print('r2_score:',r2)

       MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0      8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1      8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2      7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3      5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4      3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85
...       ...       ...       ...        ...         ...       ...       ...
20635  1.5603      25.0  5.045455   1.133333       845.0  2.560606     39.48
20636  2.5568      18.0  6.114035   1.315789       356.0  3.122807     39.49
20637  1.7000      17.0  5.205543   1.120092      1007.0  2.325635     39.43
20638  1.8672      18.0  5.329513   1.171920       741.0  2.123209     39.43
20639  2.3886      16.0  5.254717   1.162264      1387.0  2.616981     39.37

       Longitude  PRICE
0        -122.23  4.526
1        -122.22  3.585
2        -122.24  3.521
3        -122.25  3.413
4        -122.25  3.422
...          ...    ...
20635    -121.09  0.781
20636    -121.21  0.771
20637    -121.22  0.923
20638    -121.32  0.847
20639    -121.24  0.894

[20640 rows x 9 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
 8   PRICE       20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB
(20632, 2)
(8, 2)
(20632,)
(8,)
mean_squared_error: 1.3165547105469873
root_mean_squared_error: 1.1474121798843637
mean_absolute_error: 0.9060750926300605
r2_score: 0.01123369437537558
mean_squared_error: 1.5128136772094556
root_mean_squared_error: 1.229964908934176
mean_absolute_error: 0.9808486323891634
r2_score: -0.08933096939101826

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.datasets import fetch_california_housing
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
housing = fetch_california_housing()

In [ ]:
df=pd.DataFrame(data=housing.data, columns=housing.feature_names)
df['PRICE'] = housing.target
print(df)

       MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0      8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1      8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2      7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3      5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4      3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85
...       ...       ...       ...        ...         ...       ...       ...
20635  1.5603      25.0  5.045455   1.133333       845.0  2.560606     39.48
20636  2.5568      18.0  6.114035   1.315789       356.0  3.122807     39.49
20637  1.7000      17.0  5.205543   1.120092      1007.0  2.325635     39.43
20638  1.8672      18.0  5.329513   1.171920       741.0  2.123209     39.43
20639  2.3886      16.0  5.254717   1.162264      1387.0  2.616981     39.37

       Longitude  PRICE
0        -122.23  4.526
1        -122.22  3.585
2        -122.24  3.521
3        -122.25  3.413
4        -122.25  3.422
...          ...    ...
20635    -121.09  0.781
20636    -121.21  0.771
20637    -121.22  0.923
20638    -121.32  0.847
20639    -121.24  0.894

[20640 rows x 9 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
 8   PRICE       20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

In [ ]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,PRICE
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [ ]:
df.isnull().sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
PRICE         0
dtype: int64